{% extends 'base.html' %}
{% block content %} <!-- the content inside this goes to base template -->
{% if error %}
{{error}}
<br />
<br />
{% endif %}
<br />
<br />
<style>

  #ip1 
  {
    outline:none;
    border: 1px solid lightgray;
    border-top:transparent;
    border-left:transparent;
    border-right:transparent;
    /* border-radius: 10px; */
    width: 250px;
    height: 50px; 
    background: transparent;
    text-align: center  
  }
  .card 
    {
      display: flex;
      height: 40%;
      width: 60%;
      border-radius: 10px;
      /*   margin-left: -50px; */
      transition: 0.4s ease-out;
      position: relative;
      box-shadow: 0rem 1rem 1rem lightgray;
      border: none;
    }
    .btn
    {
      background: transparent;
      border-radius: 10px;
      width: 250px;
      height: 50px;
      outline:none;
      border:1px solid;
      color: #13232f
    }
    .btn:hover
    {
      color: white;
      border:1px solid #13232f;
      background: #13232f
    }
  .footer{
    visibility: hidden;
  }
</style>
  <div align="center">
    <div class="card">
    <br />
    <br />
    <h1 class="div2"><font face="Colleged" color="black">CREATE STORY</font></h1>
    <hr style="background-color: #13232f;opacity: 0.5;">
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
      {% csrf_token %} <!-- used for security purposes -->
      <br />
      <input type="text" name="title" id="ip1" placeholder="Article's title"/>
      <br />
      <br />
      <input type="textbox" name="body" id="ip1" placeholder="What is it all about"/>
      <br />
      <br />
      <input type="text" name="url" id="ip1" placeholder="Link to blog"/>
      <br />
      <br />
      <br />
      <input class="btn btn-primary" type="submit" value="Submit the details" />
      <br />
      <br />
    </form>
        </div>
    </div>
  </div>
{% endblock %}